.devicePage{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 48px);
    padding: 24px;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #4666a73b;
        padding-bottom: 32px;
        margin-bottom: 32px;
        h1{
            color: var(--main);
            font-family: "Roboto", sans-serif;
            font-weight: 600;
        }
        p{
            font-weight: 500;
            color: var(--main);
            font-size: 14px;
        }
        button{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: var(--main);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 6px;
            text-transform: capitalize;
            padding: 7px 18px;
            &:disabled{
                opacity: 0.6;
                pointer-events: none;
                box-shadow: none;
            }
        }
    }
    .status{
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
    }
    .actionCell{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .CustomNoRowsOverlay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: gray;
        .icon{
            font-size: 42px;
        }
        p{
            font-size: 18px;
        }
    }
}