.deviceKeyModal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    max-width: 580px;
    border-radius: 12px 18px;
    overflow: hidden;
    .modalBody{
        padding:24px 18px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        p{
            text-align: center;
            color: gray;
            font-size: 15px;
            font-weight: 600;
            &.blue{
                color: var(--main);
            }
        }
        .infotxt{
            color:#d97e16;
            font-size: 13px;
            margin-top: -10px;
        }
    }
}