.passwordRules{
    .passwordRule{
        font-size: 16px;
        font-weight: 500;
        color: #9b9b9b;
        &.done{
            color: #2e7d32;
            font-weight: 600;
        }
    }
}