#waveAudio{
    cursor: pointer;
    position: relative;
    #waveHover {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        height: 100%;
        width: 0;
        mix-blend-mode: overlay;
        background: #ffc788e1;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: 10;
      }
      &:hover {
        #waveHover {
        opacity: 1;
      }
    }
    #waveTime,
    #waveDuration {
      position: absolute;
      z-index: 11;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-50%);
      font-size: 11px;
      background: rgba(0, 0, 0, 0.75);
      padding: 2px;
      color: #ddd;
    }
    #waveTime {
        left: 0;
      }
    #waveDuration {
        right: 0;
      }
}
.audioWithTranscript{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 9px;
  height: calc(100% - 18px);
  &.disabled{
    opacity: 0.5;
    pointer-events: none;
  }
  .waveAudioWrapper{
    border: 2px solid #ededed;
    border-radius: 12px;
    padding: 0px 12px;
    width: calc(100% - 28px);
    min-height: 130px;
    .noPeaksTxt{
      display: none;
    }
    &.disabled{
      opacity: 0.6;
      pointer-events: none;
      position: relative;
      .noPeaksTxt{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 15;
        font-weight: 600;
        font-size: 14px;
        color: #e53935;
      }
    }
  }
  .tabContent{
    @media (max-width:991px) {
      height: 160px;
    }
  }
  .mediaControl{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @media (max-width:620px) {
      padding: 12px;
    }
    .medialBox{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;
      flex: 1;
      @media (max-width:620) {
        gap: 4px;
      }
      .iconBttn{
        border: 1px solid #ededed;
        color: var(--main);
      }
      .customAudioProgress{
        color: var(--main);
        min-width: 100px;
      }
      .timestamp{
        font-size: 14px;
        font-weight: 600;
        color: #c5c5c5;
      }
    }
    }
}
.pendingRecording{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .icon{
    color: #c5c5c5;
    font-size: 56px;
  }
  p{
    margin-top: 12px;
    color: #c5c5c5;
    font-size: 16px;
    font-weight: 500;
  }
}