body{
    background-color: var(--main);
    display: flex;
    padding: 18px;
    height: calc(100vh - 38px);
    max-height: calc(100vh - 36px);
    max-width: calc(100vw - 36px);
}
.dashboardBody{
    display: flex;
    flex-grow: 1;
    gap: 18px;
}
.dashboardContent{
flex-grow: 1;
display: flex;
background-color: white;
border-radius: 26px;
padding: 8px;
overflow: hidden;
}