body{
    background-color: var(--main);
    display: flex;
    padding: 24px;
    height: calc(100vh - 48px);
    max-height: calc(100vh - 48px);
    max-width: calc(100vw - 48px);
}
.dashboardBody{
    display: flex;
    flex-grow: 1;
    gap: 24px;
}
.dashboardContent{
flex-grow: 1;
background-color: white;
border-radius: 26px;
padding: 8px;
overflow: hidden;
}